﻿<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div id="topimg"><img src='assets/img/plantpad.png' ></div>
	<div padding>
      <button ion-button block icon-left (click)="openFamilySearch()"><ion-icon name="search"></ion-icon>Search by FAMILY</button>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <button ion-button block icon-left (click)="openGenusSearch()"><ion-icon name="search"></ion-icon>Search by Genus</button>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
	  <button ion-button block icon-left (click)="openPlantSearch()"><ion-icon name="search"></ion-icon>Search by name</button>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <button ion-button block icon-left (click)="openIdentificationKey()"><ion-icon name="search"></ion-icon>Search by identification key</button>
	</div>
	
	<div id="botimg"><img src='assets/img/plantnetlogo.png'  align="middle" height="50"></div>
</ion-content>
