﻿<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home" (ionSelect)="searchEntryTapped()"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Report Station" tabIcon="list-box" (ionSelect)="reportEntryTapped()"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
