<ion-card *ngIf="showBox" class="copy">
        <ion-card-header>
            <ion-item>
                <ion-label>
                    Current Plant:
                </ion-label>
                <div *ngIf="showAddButton" item-content>
                    <button ion-button outline item-end color='secondary' (click)="addToReport()">Add to report</button>
                </div>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-icon name="leaf" item-left large></ion-icon>
                <h3><b>Family:</b></h3>
                <h4> {{plant.family_name}}</h4>
            </ion-item>
            <div *ngIf= "plant.type == 'genus' || plant.type == 'species' || plant.type == 'subspecies'">
                <ion-item>
                    <ion-icon name="leaf" item-left large></ion-icon>
                    <h3><b>Genus:</b></h3>
                    <h4> {{plant.genus_name}}</h4>
                </ion-item>
            </div>
            <div *ngIf="plant.type == 'species' || plant.type == 'subspecies'">
                <ion-item>
                    <ion-icon name="leaf" item-left large></ion-icon>
                    <h3><b>species:</b></h3>
                    <h4>{{plant.species_name}}</h4>
                </ion-item>
            </div>
            <div *ngIf="plant.type == 'subspecies'">
                <ion-item>
                    <ion-icon name="leaf" item-left large></ion-icon>
                    <h3><b>subspecies:</b></h3>
                    <h4>{{plant.subspecies_name}}</h4>
                </ion-item>
            </div>
            <div text-left>
                <button small ion-button round color="light" (click)="showOrHideDsc()">{{DscIndicateText}}</button>
                <button small ion-button round color="light" (click)="showPageOnPlantNet()">View on PlantNet</button>
            </div>
        </ion-card-content>
    </ion-card>
    <div class="copy" [@visibilityChanged]="visibility" *ngIf="visibility == 'shown'">
     <ion-card>
       <ion-card-content>
       <ion-item>
        <ion-icon name="information" item-left large></ion-icon>
       </ion-item>
        <div *ngFor="let description of plant.dsc">
        <h4>{{description}}</h4>
        <br>
        </div>
        </ion-card-content>
       </ion-card>
    </div>