item-page {
#toggle{
    width: auto;
    padding-left: 2rem;
    float: left;
}
#toggletext{
    text-align: center;
    float: left;
    margin-top: 0.5rem;
    font-family: inherit;
    font-style: inherit;
}
#toggleIcon{
    float: left;
    padding-top: 0.7rem;
}
}
