﻿<ion-header>
    <ion-navbar>
        <ion-title>
            <div *ngIf="itemType!='subspecieslist' && itemType!='endlist' && itemType!='allist'">
                {{itemType.split('list')[0]}} list
            </div>
        </ion-title>
    </ion-navbar>
    <ion-toolbar primary>
        <ion-searchbar #mainSearchbar (ionInput)="getItems($event)" [(ngModel)]="itemDetailPage"></ion-searchbar>
        <div id="toggle" *ngIf="showFilter" item-right>        
            <div id="toggleIcon"><ion-toggle (ionChange)="filteringItems()" checked="false"></ion-toggle></div>
            <div padding id="toggletext">Subdivision filter</div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <plant-card [plant]="plant" [showBox]="showBox" [showAddButton]="showAddButton"></plant-card>
    <ion-list [virtualScroll]='items' approxItemHeight="50px">
        <button ion-item *virtualItem="let item" (click)="openSubPage(item)">
            {{ item }}
        </button>
    </ion-list>
</ion-content>