<!--
  Generated template for the MorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detail</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
		<ion-fab right bottom #fab> 
		<button ion-fab mini><ion-icon name="menu"></ion-icon></button>
		<ion-fab-list side="left">
			<button ion-fab (click)="savToDB()" color="secondary"><ion-icon name="document"></ion-icon></button>
			<button ion-fab (click)="delPlant(fab)" color="danger"><ion-icon name="trash"></ion-icon></button>
		</ion-fab-list>
	</ion-fab>
  <ion-list>
	<plant-card [plant]="plantItem.pl" [showBox]="true" [showAddButton]="false"></plant-card>

	<!--<ion-item>
		<ion-label>Flagged</ion-label>
		<ion-toggle color = "secondary" [(ngModel)]="flag"></ion-toggle>
	</ion-item>-->
<ion-card>
		<h2 class ="title">Notes:</h2>
		<ion-item>
			<ion-textarea autoresize [(ngModel)]="plantItem.$comments">
			</ion-textarea>
		</ion-item>
	</ion-card>
</ion-list>
</ion-content>
