<ion-header>
 
  <ion-navbar>
    <ion-title>Key Identification</ion-title>
  </ion-navbar>
</ion-header>
 
 
<ion-content>
 <ion-card *ngFor="let questionWithPlants of qwLists">
  
    <button ion-item block class="question" text-wrap (click)="open(questionWithPlants.$question)">   
      <h2><font size="+1">{{questionWithPlants.$question}}</font></h2>
    </button>
  
  <ion-list>
    <ion-item *ngFor="let plant of questionWithPlants.$plants">
      <button color="light" ion-item round *ngIf="hasPlantsByQuestion(questionWithPlants.$question)" (click)="(openPlantPage(plant))">
      <h2>Family: {{plant.getFamily_name()}}</h2>
      <h3 *ngIf="(plant.getGenus_name()!==null)"><br>Genus: {{plant.getGenus_name()}}</h3>
      </button>
    </ion-item>
  </ion-list>
 </ion-card>
 <!--
    <ion-list>
      family:{{plant.getFamily_name()}} genus:{{plant.getGenus_name()}}
        <ion-item *ngFor="let question of questions" (click)="open($event, question)"> {{question}}</ion-item>
    </ion-list>
 -->
</ion-content>