page-key {
    .plant{
        padding: 5px;
        padding-left: 2%;
        background-color: rgba(210,210,210,0.2);
        border-radius: 8px;
        font-size: 13px;
    }
    .question{
    }

}
