﻿<ion-header>
	<ion-navbar>
		<ion-title>
			Report Station
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button block icon-left (click)="newReport()"><ion-icon name="add"></ion-icon>Create New Report</button>
	<div class="spacer" style="width: 300px; height: 22px;"></div>
	<!--<button ion-button block icon-left (click)="currentReport()"><ion-icon name="document"></ion-icon>View Current Report</button>
	<div class="spacer" style="width: 300px; height: 22px;"></div>-->
	<ion-card  color="secondary">
		<ion-card-header>
			Current Report:
		</ion-card-header>
		<ion-list *ngIf="db.currentReportFlag===true">
			<button ion-item (click)="currentReport()">
				<ion-label>{{CReport.reportTitle}}</ion-label>
				<div item-content>
        		{{CReport.date.substring(0, 10)}}	
				</div>
		</button>
		</ion-list>
	</ion-card>
	<ion-card color="light"> 
		<ion-card-header>
			Saved Reports:
		</ion-card-header>
		<ion-list>
			<button ion-item *ngFor="let report of reportList" (click)="openReport(report.reportID)">
			<ion-label>{{report.reportTitle}}</ion-label>
       <div item-content>
        {{report.date.substring(0, 10)}}	
				</div>
		</button>
		</ion-list>
	</ion-card>
</ion-content>