<!--
  Generated template for the About page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<img src='assets/img/hsclogo.jpg' align="middle" height="125">
<p>
Created for Hornsby Shire Council <br><br>
Developed by: <br>
Macquarie University <br> 
ISYS358 S1 2017<br>
<b>Group 12<br><br>
Chengcheng (Jack) Jiang<br>
Michael McClellan<br>
Nick Maung<br>
David Sun<br>
Sean Rae-Sahbu<br><br></b>
Information has been sourced via <a (click)="openLinkUrl()"> <b>PlantNet</b></a><br>
<br>
Identification key search adapted from:<br><b>'Field Guide to the Native Plants of Sydney'</b> <br>by Les Robinson<br>
</p>
<img src='assets/img/mqlogo.jpg' align="top" height="100">

</ion-content>
