﻿<ion-header>
	<ion-navbar>
		<ion-title>
			Report ID: {{report.$reportID}}
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<!-- Real floating action button, fixed. It will not scroll with the content -->
	<ion-fab right bottom #fab>
		<button ion-fab mini><ion-icon name="menu"></ion-icon></button>
		<ion-fab-list side="left">
			<button ion-fab (click)="scrollToTop(fab)"><ion-icon name="arrow-round-up"></ion-icon></button>
			<button ion-fab (click)="saveToDB()" color="secondary"><ion-icon name="document"></ion-icon></button>
			<button ion-fab (click)="SaveFileToLocal()" color="primary"><ion-icon name="cloud-upload"></ion-icon></button>
			<button ion-fab (click)="delReport(fab)" color="danger"><ion-icon name="trash"></ion-icon></button>
		</ion-fab-list>
	</ion-fab>
	<!--<ion-item class='reportcontainer'>
		
		<ion-label>Report ID: </ion-label>
		<ion-input disabled="true" value="{{report.$reportID}}"></ion-input> 
	</ion-item>-->
	<div>
		<ion-item class='reportcontainer'>
			<ion-label>Report Title: </ion-label>
			<ion-input maxLength="20" [(ngModel)]="report.$reportTitle"></ion-input>
		</ion-item>
		<ion-item class='reportcontainer'>
			<ion-label>Author: </ion-label>
			<ion-input maxLength="20" [(ngModel)]="report.$author"></ion-input>
		</ion-item>

		<ion-item class='reportcontainer'>
			<ion-label>Date: </ion-label>
			<ion-datetime class='leftItem' displayFormat="DD/MM/YYYY" [(ngModel)]="report.$date"></ion-datetime>
		</ion-item>
		<ion-item class='reportcontainer'>
			<ion-label> Location: </ion-label>
			<ion-input maxLength="20" [(ngModel)]="report.$location">
			</ion-input>
		</ion-item>
	</div>
	<ion-card>
		<h2 class ="title">Notes:</h2>
		<ion-item>
			<ion-textarea autoresize [(ngModel)]="report.$comments">
			</ion-textarea>
		</ion-item>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-item>
				<ion-label>
					Sightings
				</ion-label>
				<div item-content>
					<button ion-button round color="secondary" icon-left padding (click)="openPlantSearch()"><ion-icon name="add"></ion-icon> Add Plant</button>
				</div>
			</ion-item>
		</ion-card-header>
		<ion-list>
		<div *ngFor="let item of report.$plantItems" id="reportItems" >
		<ion-item  id="plantItemText">
			<ion-label><button ion-item (click)="viewPlanItem(item.pid)">
			<ion-label text-wrap>{{item.$pl.plantName}}</ion-label>
        	<div item-content> ID: {{item.pid}} </div>
			</button></ion-label>
			<ion-checkbox id="checkboxitem" color="danger" [(ngModel)]="item.$flag" ></ion-checkbox>
		</ion-item>
		</div>
		</ion-list>
	</ion-card>
	<!--
	 <p style="font-size:20px">plant 1 
	<button id = flag ion-button small icon-only (click) = "flagPlant()" color={{currentColor}} > <ion-icon name="star"></ion-icon> </button>
	<button id = remove (click)="delPlant()" ion-button small color = "danger" icon-only> <ion-icon name="remove" ></ion-icon> </button> <br/>
	plant 2 <button ion-button small icon-only> <ion-icon name="star"></ion-icon> </button>
	<button ion-button small color = "danger" icon-only> <ion-icon name="remove"></ion-icon> </button> <br/>
	plant 3 <button ion-button small icon-only> <ion-icon name="star"></ion-icon> </button>
	<button ion-button small color = "danger" icon-only> <ion-icon name="remove"></ion-icon> </button> <br/>
	-->
</ion-content>