page-report {
    .title{
        margin-left: 12px;
    }
    .reportcontainer{
        font-size: 1.0em;
    }

    .reportItems{
        float: right;
    }
    #checkboxitem{

    margin-top:1.8rem;
    float: left;
    }
    #plantItemText{
    }
}

